<div class="container" id="htmlData">
  <div class="header">
    <figure class="logo">
      <img src="assets/logo.png" alt="logo">
    </figure>

    <div class="contact-details">
      <div class="contact-details__item">
        <div class="contact-details__icon">
          <i class="fa fa-phone"></i>
        </div>
        <span>0700 434 7754</span>
      </div>

      <div class="contact-details__item">
        <div class="contact-details__icon">
          <i class="fa fa-envelope"></i>
        </div>
        <span>wecare@heirslifeassurance.com</span>
      </div>
    </div>
  </div>

  <div class="title__container">
    <h1 class="title">
      TRIPLE PAY: QUOTATION SHEET
    </h1>

    <div class="title__cell-container">
      <div class="title__cell border-right" style="width: 40%;"><span>QUOTATION DATE:</span></div>
      <div class="title__cell" style="width: 60%;"></div>
    </div>
  </div>


  <!--  -->
  <div class="cell-container border-b-0">
    <div class="cell border-right" style="width: 200px;"><span>PROPOSER’S NAME:</span></div>
    <div class="cell flex-1"></div>
  </div>

  <div class="cell-container border-b-0">
    <div class="cell border-right" style="width: 200px;"><span>PROPOSER’S AGE:</span></div>
    <div class="cell flex-1"></div>
  </div>

  <div class="cell-container mb-3">
    <div class="cell border-right" style="width: 200px;"><span>POLICY TERMS:</span></div>
    <div class="cell flex-1"></div>
  </div>
  <!--  -->

  <!--  -->
  <div class="cell-container mb-3">
    <div class="cell border-right" style="width: 220px;"><span>SUM ASSURED (NGN)</span></div>
    <div class="cell flex-1"></div>
  </div>
  <!--  -->

  <!--  -->
  <div class="cell-container border-b-0">
    <div class="cell border-right" style="width: 280px;"><span>MONTHLY PREMIUM (NGN)</span></div>
    <div class="cell flex-1"></div>
  </div>

  <div class="cell-container border-b-0">
    <div class="cell border-right" style="width: 280px;"><span>QUARTERLY PREMIUM (NGN)</span></div>
    <div class="cell flex-1"></div>
  </div>

  <div class="cell-container border-b-0">
    <div class="cell border-right" style="width: 280px;"><span>HALF-YEARLY PREMIUM (NGN)</span></div>
    <div class="cell flex-1"></div>
  </div>

  <div class="cell-container border-b-0">
    <div class="cell border-right" style="width: 280px;"><span>ANNUAL PREMIUM (NGN)</span></div>
    <div class="cell flex-1"></div>
  </div>

  <div class="cell-container mb-3">
    <div class="cell border-right" style="width: 280px;"><span>SINGLE PREMIUM</span></div>
    <div class="cell flex-1"></div>
  </div>
  <!--  -->

  <!--  -->
  <div class="cell-container mb-3">
    <div class="cell border-right" style="width: 430px;"><span>PREMIUM PAYMENT BASED ON SELECTED OPTION</span></div>
    <div class="cell flex-1">
      <span class="italic-detail">(insert chosen frequency of payment)</span>
    </div>
  </div>
  <!--  -->

  <!--  -->
  <div class="gray-header">
    <span>EXPECTED PAYOUT IN MILESTONES</span>
  </div>
  <!--  -->

  <!--  -->
  <div class="cell-container border-b-0">
    <div class="cell border-right" style="width: 580px;"><span>1ST INSTALMENT : 1/3 OF TERM (25% OF SUM ASSURED)</span>
    </div>
    <div class="cell flex-1"></div>
  </div>
  <div class="cell-container border-b-0">
    <div class="cell border-right" style="width: 580px;"><span>2ND INSTALMENT: 2/3 OF POLICY TERM ( (25% OF SUM
        ASSURED)</span></div>
    <div class="cell flex-1"></div>
  </div>
  <div class="cell-container border-b-0">
    <div class="cell border-right" style="width: 580px;"><span>MATURITY: END OF POLICY TERM (100% OF SUM ASSURED)</span>
    </div>
    <div class="cell flex-1"></div>
  </div>
  <div class="cell-container border-b-0">
    <div class="cell border-right" style="width: 580px;"><span><span class="asteriks">**</span> ESTIMATED REVERSIONARY
        BONUS AT MATURITY (NGN)</span>
    </div>
    <div class="cell flex-1"></div>
  </div>
  <div class="cell-container mb-3">
    <div class="cell border-right" style="width: 580px;"><span>ESTIMATED TOTAL PAYOUT (NGN)</span></div>
    <div class="cell flex-1"></div>
  </div>
  <!--  -->

  <!--  -->
  <p class="note"><span class="asteriks">**</span> Please note that the reversionary bonus is estimated as of today
    and
    is subject to
    change. The bonus is payable
    either
    at maturity (subject to receipt of all premiums) or on the passing of the policyholder (pro rata).</p>
  <!--  -->

  <!--  -->
  <span class="disclaimer">This quote estimate is valid for 30 days only.</span>
  <!--  -->

  <!--  -->
  <div class="social">
    <div class="social__icons">
      <i class="fa-brands fa-square-facebook social__icon"></i>
      <i class="fa-brands fa-twitter social__icon"></i>
      <i class="fa-brands fa-instagram social__icon"></i>
      <i class="fa-brands fa-linkedin social__icon"></i>
      <i class="fa-brands fa-whatsapp social__icon"></i>
    </div>

    <div class="website">
      www.heirslifeassurance.com
    </div>
  </div>
  <!--  -->

  <!--  -->
  <div class="footer">
    <p><span class="footer__company">HEIRS LIFE ASSURANCE LIMITED</span> | Heirs Towers, Plot 107B, Ajose Adeogun
      Street, Victoria Island, Lagos - Nigeria
      <br>

      Authorized and regulated by the National Insurance Commission (NAICOM)
    </p>
  </div>
  <!--  -->



</div>
<div class="row" style="padding: 3rem;">
  <div class="col-md-4 text-right">
    <button class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button>
  </div>
</div>